header{
    .header-top{
        background-color: #292929;
        padding: 10px 0;
        .container{
            display: flex;
            justify-content: space-between;
        }
        .header-info{
            a{
                display: inline-block;
                font-weight: 400;
            }
        }
        .header-search{
            position: relative;
        }
        .search-field{
            border: none;
            padding-right: 30px;
        }
        .search-submit{
            color: transparent;  
            background-color: transparent;          
            font-size: 0;
            border: none;
            padding: 0;
            position: absolute;
            top: 15px;
            right: 15px;
            &:before{
                content: '\f002';            
                font-size: $fontSizeBody;    
                font-family: $fontAwesome;
                color: $colorBtnHover;
            }            
        }
    }
    .header-main{
        padding: 10px 0;
        .container{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
    .header-logo{
        p{
            margin: 0;
        }
        a{
            font-size: 30px;
            &:hover{
                text-decoration: none;
            }
        }
    }
    .header-menu{
        ul{
            list-style: none;
            display: flex;
            margin: 0;
            li{
                margin: 0;
            }
            a{
                display: block;
                padding: 0 10px;
                margin: 0;
                &:hover{
                    text-decoration: none;
                }
            }
        }
    }
}