*,
*:before,
*:after {
	box-sizing: border-box;
}

*:focus {
	outline: 0;
}

html,
body {
	font-size: 100%;
}

body {
	background: none repeat scroll 0 0 #fff;
	color: $colorBody;
	padding: 0;
	margin: 0;
	font-family: '#{$fontBody}',Arial,sans-serif;
	font-weight: 400;
	font-style: normal;
	line-height: 1.3;
	position: relative;
	font-size: $fontSizeBody;
	letter-spacing: 0.5px;
}

p {
	font-family: inherit;
	font-weight: normal;
	font-size: $fontSizeBody;
	line-height: 1.25;
	margin-bottom: 10px;
	margin-top: 0;
	text-rendering: optimizeLegibility;
	color: $colorBody;
	word-wrap: break-word;
	letter-spacing: 1px;
	@include mobile{
		font-size: 14px;
	}
}

small {
	color: #b6b6b6;
	font-size: 13px;
	display: inline-block;
	margin-bottom: 20px;
	line-height: 1.3;
}

img {
	max-width: 100%;
	height: auto;
	display: inline-block;
	vertical-align: middle;
}

a {
	color: $colorLink;
	text-decoration: none;
	line-height: inherit;
	font-size: $fontSizeBody;
	transition: color 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a:hover {
	cursor: pointer;
	text-decoration: underline;
}

a:hover,
a:active {
	outline: none;
}


h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: inherit;
	font-weight: 600;
	font-style: normal;
	text-rendering: optimizeLegibility;
	margin-top: 0;
	margin-bottom: 20px;
	line-height: 1.25;
}

h1 {
	font-size: 28px;
}

h2 {
	font-size: 26px;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 22px;
}

h5 {
	font-size: 20px;
}
.container{
	max-width: $contentWidth;
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
}
@include tablet {
	body {
		font-size: 14px;
	}

	h1 {
		font-size: 24px;
	}

	h2 {
		font-size: 22px;
	}

	h3 {
		font-size: 20px;
	}

	h4 {
		font-size: 18px;
	}

	h5 {
		font-size: 16px;
	}
	.container{
		padding: 0 10px;
	}
}

table {
	width: 100%;

	td {
		padding: 15px 30px;
		//@include border(1px, #f0f0f0, bottom);
	}

	thead {
		td {
			font-size: 18px;
		}
	}
}

ul {
	margin: 0 0 10px 20px;
	padding: 0;
	list-style: outside;

	>li {
		margin-bottom: 5px;
	}
}


