
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/webfonts.eot?miz23k');
    src:  url('../fonts/webfonts.eot?miz23k#iefix') format('embedded-opentype'),
      url('../fonts/webfonts.ttf?miz23k') format('truetype'),
      url('../fonts/webfonts.woff?miz23k') format('woff'),
      url('../fonts/webfonts.svg?miz23k#webfonts') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  