label {
	font-weight: 600;
	font-family: $fontBody;
	margin-bottom: 5px;
	display: inline-block;
}

input,
select,
textarea,
button {
	-webkit-appearance: none;

	&::-webkit-input-placeholder {
		color: $colorBody;
	}

	&:-moz-placeholder {
		color: $colorBody;
	}

	&::-moz-placeholder {
		color: $colorBody;
	}

	&:-ms-input-placeholder {
		color: $colorBody;
	}
}

fieldset {
	border: none;
	padding: 0;
	margin: 0;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"] {
	width: 100%;
	display: block;
	font-size: $fontSizeBody;
	font-style: normal;
	font-weight: 400;
	color: $colorField;
	padding: 15px;
	@include bgColor(#fff);
	@include border(1px, #ddd);
	-webkit-appearance: none;
	@include round(0);
	height: 46px;
	box-sizing: border-box;
	&:focus {
		border-color: $colorBorderField;
	}
	&::placeholder{
		opacity: 0.5;
	}
}

input[type="submit"],
input[type="button"],
input[type="reset"],
button,
.button {
	@include border(1px, $colorBorderField);
	@include bgColor($colorBtnHover);
	color: #fff;
	font-weight: 600;
	padding: 10px;
	transition: all 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
	border-radius: 5px;	
	&:hover {
		text-decoration: none;
		cursor: pointer;
	}
}
.abutton{
	line-height: 48px;
    padding: 0 15px;
    height: 48px;
    display: inline-block;
}
select {
	width: 100%;
	display: block;
	font-style: normal;
	font-weight: 400;
	color: $colorField;
	font-size: $fontSizeBody;
	padding: 0 30px 0 15px;
	height: 46px;
	@include border(1px, #ddd);
	@include bgColor(transparent);
	line-height: 1;
	@include round(0);

	&::-ms-expand {
		display: none;
	}

	&:focus {
		border-color: $colorBorderField;
	}
}

textarea {
	width: 100%;
	display: block;
	color: $colorField;
	border: none;
	font-size: $fontSizeBody;
	font-weight: 400;
	padding: 15px;
	@include bgColor(#fff);
	resize: none;
	height: 100px;
	@include border(1px, #ddd);

	&:focus {
		border-color: $colorBorderField;
	}
}

.custom-checkbox {
	label {
		display: inline-block;
		cursor: pointer;
		position: relative;
		padding-left: 30px;
		margin: 0 0 10px 0;
		color: $colorBody;
		font-family: $fontBody;
		line-height: 20px;
		font-weight: normal;

		&:before {
			content: "";
			display: inline-block;
			width: 20px;
			height: 20px;
			border: none;
			margin-right: 10px;
			position: absolute;
			left: 0;
			@include bgColor(#fff);
			top: 0;
			@include border(1px, $colorBorderField);
		}

		&:after {
			position: absolute;
			content: "";
			width: 13px;
			height: 10px;
			font-family: $fontAwesome;
			color: #fff;
			font-size: 15px;
			top: 0;
			left: 3px;
		}
	}

	input[type=checkbox] {
		display: none;
	}

	input[type=checkbox]:checked+label {
		&:before {
			@include bgColor($colorLink);
			border-color: $colorLink;
		}

		&:after {
			content: "\f00c";
		}
	}
}
.custom-selectbox{
	position: relative;
	&:after{
		content: "";
		position: absolute;
		top: 20px;
		right: 10px;
		width: 0;
		height: 0;
		border-left: 8px solid transparent;
		border-right: 8px solid transparent;
		border-top: 10px solid #333;
	}
}
.custom-radio {
	label {
		position: relative;
		padding-left: 30px;
		font-family: $fontBody;
		line-height: 20px;
		display: inline-block;
		font-weight: normal;
		&:hover {
			cursor: pointer;
		}

		&:before {
			position: absolute;
			width: 20px;
			height: 20px;
			@include border(1px, $colorBorderField);
			@include bgColor(#fff);
			@include round();
			content: "";
			left: 0;
			top: 0;
		}

		&:after {
			position: absolute;
			width: 10px;
			height: 10px;
			@include bgColor($colorBorderField);
			@include round();
			content: "";
			left: 5px;
			top: 5px;
			display: none;
		}
	}

	input[type="radio"] {
		display: none;
	}

	input[type=radio]:checked {
		&~label:after {
			display: block;
		}
	}
}
.field{
	&.required{
		.label{
			&:after{
				color:red;
				content: " *";
			}
		}
	}
}