@mixin mobile {
    @media (max-width: #{$mobile - 1px}) {
        @content;
    }
}
@mixin mobilePortrail {
    @media (max-width: #{$mobileSmall}) {
        @content;
    }
}
@mixin mobile-tablet {
    @media (min-width: #{$mobile}) and (max-width: #{$tablet}) {
        @content;
    }
}
@mixin largeDesktop {
    @media (max-width: #{$largeDesktop}) {
        @content;
    }
}
@mixin desktop {
    @media (max-width: #{$desktop}) {
        @content;
    }
}
@mixin tablet {
    @media (max-width: #{$tablet}) {
        @content;
    }
}
@mixin tablet-desktop {
    @media (min-width: #{$tablet-width}) {
        @content;
    }
}
@mixin clearfix {

    &:before,
    &:after {
        content: " ";
        display: table;
    }

    &:after {
        clear: both;
    }
}

@mixin opacity($opacity) {
    opacity: $opacity;
}

@mixin border-radius($topleft: 0, $topright: 0, $bottomright: 0, $bottomleft: 0) {
    border-radius: $topleft $topright $bottomright $bottomleft
}

@mixin round($rad : "") {
    @if ($rad !="") {
        @include border-radius($rad, $rad, $rad, $rad);
    }

    @else {
        border-radius: 50%;
    }
}



@mixin bgColor($color) {
    background-color: $color;
}

@mixin font($size, $color) {
    font-size: $size;
    color: $color;
}

@mixin border($size : 1px, $color : #000, $pos : "") {
    @if ($pos=="") {
        border: $size solid $color;
    }

    @else {
        border-#{$pos}: $size solid $color;
    }
}

