$fontSizeBody : 16px;
$fontBody : 'Roboto';

$fontAwesome: 'FontAwesome';
$fontIcon: 'icomoon';

///////////////////////////////////////////

$colorBody: #333333;
$colorLink : #1187cb;
$colorField : $colorLink;
$colorBorderField : $colorLink;
$colorBtnHover: #007cf9;


/////////////////////////////////////////////

$contentWidth: 1168px;

$mobile: 768px;
$mobileSmall: 480px;
$tablet: 1024px;
$desktop: 1266px;
$largeDesktop: 1400px;
